doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bs.css') 
    link(rel='stylesheet', href='/stylesheets/bs-r.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(data-main="javascripts/main", src="javascripts/r-j.js")
  body
    block content
