extends layout

block content
  .row-fluid
    .span9#ticker
      ul
        - for (var i = 0; i < posts.length; i++)
          - var post = posts[i]
          li.well
            p!= post.message
            small!= post.date
    .span3#menu
      .well
        ul.nav.nav-list#sorting
          li.asc
            a(href="#asc") Sort Ascending
          li.desc
            a(href="#desc") Sort Descending
      p
        small Last Message @ 
          span#lastmessage #{posts[posts.length-1].date.format('H:i:s')} 
      .well
        form#post
          textarea#post-content(name="value", rows="4") And we're ready to start!
        #post-action
          small.info 
          img.loading(src="/images/ajax-loader.gif")
          .btn-group
            button#clear.btn.btn-small Clear
            button#submit.btn.btn-small.btn-primary Submit

