!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title liveblog.js
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='stylesheet', href='/stylesheets/bs.css')
    link(rel='stylesheet', href='/stylesheets/bs-r.css') 
    link(rel='stylesheet', href='/stylesheets/style.css')   
    script(src=protocol + "://" + hostname + ":" + port + "/socket.io/socket.io.js")
    script
      var socketConfig = {protocol: "#{protocol}", host: "#{hostname}", port: "#{port}"};
    script(data-main="javascripts/main", src="javascripts/r-j.js")
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='#') liveblog.js
    .container
      block content
      hr
      .row-fluid#console
        .span12
          .well
            ul
              li Loading assets…
      hr
      .row-fluid#footer
        .pull-left
          p powerer by 
            a(href="https://github.com/semu/liveblog.js") liveblog.js
