@media (max-width: 979px) {
  body { padding-top: 0px; }
}

@media (min-width: 980px) {
  body { padding-top: 60px; }
}

#ticker ul, #ticker ul li, #console ul, #console ul li { list-style-type: none; margin: 0; }

#menu .well { padding: 8px 0; margin-bottom: 2px; }
#menu p { margin-bottom: 2px; text-align: center; }
#menu p small { font-size: 11px; }
#menu #post { padding-right: 30px; }
#menu #post textarea { width: 100%; margin: 0 18px 0 8px; }
#menu .btn-group, #login-action .btn-group { text-align: right; margin: 8px 8px 0px 8px; }
#menu form { margin-bottom: 0; padding: 0; }
#menu .info { float: left; position: relative; margin: 3px 0 0 14px;  }
#menu img.loading { float: left; position: relative; margin: 8px 0 0 12px; display: none; }

#ticker p { margin: 0; padding: 0; }
#ticker .well, #console .well { margin-bottom: 8px; padding: 7px 8px; font-size: 13px; }
#ticker .delete a { color: #666; font-size: 10px; }
#ticker .delete { margin-top: -6px; }
#console .well { font-family: Monaco; font-size: 11px; padding: 4px 8px; }

#footer p { font-size: 12px; }

#login-form input { width: 100%; }
#login-form { margin: 0px 8px }
#login-form #password { margin-bottom: 0px; }

#login-action small { float: left; position: relative; margin: 3px 0 0 14px; color: red; font-weight: bold; }

